/*
|---------
| About us
|---------
*/

.about-us {
	.row {
		/*background: $black;*/
		.intro {
			h2 {
				margin-top: 30px;
				color: $orange;
			}	
		}
		.image {
			margin: 0 0 60px 0;
			width: 100%;
			height: 0;
			padding-bottom: 80%;
			background: $image-color url(../images/about-us/about-us.jpg) no-repeat center center;
			background-size: cover;
		}
		.employee {
			display: inline-block;
		    margin-bottom: 40px;
		 	h4 {
		 		color: $orange;
			    margin-top: -5px;
			}
			p {
				min-height: 65px;
			}
			.image {
				margin: 0;
				padding-bottom: 87%;
			}
			.simon {
				background: $image-color url(../images/about-us/simon.jpg) no-repeat center center;
				background-size: cover;
			}
			.mark {
				background: $image-color url(../images/about-us/mark.jpg) no-repeat center center;
				background-size: cover;
			}
			.nick {
				background: $image-color url(../images/about-us/nick.jpg) no-repeat center center;
				background-size: cover;
			}
			ul {
				margin-top: 20px;
				a {
					color: $orange;
					text-decoration: none;
					&:hover {
						color: darken($orange, 10%);
					}
				}		
			}
		}
	}
}

/*
|----------
| Medium Up
|----------
*/

@media only screen and (min-width: 64.063em) {

	.about-us {
		.row {
			.intro {
				margin-bottom: 60px;
			}
			.image {
				margin: 90px 0 60px 0;
			}
		}
	}
}