/*
|-------
| Layout
|-------
*/

p,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: 'TeXGyreAdventorRegular', sans-serif;
}

p {
	font-size: 0.9rem;
}

body {
	color: $white;
	background: $black url(/images/backgrounds/tunnel.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	header {
		.contact-details {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			height: 30px;
			line-height: 30px;
			background: $black;
			i {
				color: $white;
			}
			a {
				height: 30px;
				line-height: 30px;
				color: $orange;
				text-decoration: none;
				&:hover {
					color: darken($orange, 10%);
				}
			}
		}
		.banner-container {
			display: block;
			width: 100%;
			height: 200px;
			min-height: 200px;
			padding-left: 0;
			padding-right: 0;
			background: $black;	
			overflow: hidden;
			.banner {
				z-index: 0;
				display: block;
				width: 100%;
				height: 200px;
				.banner-image {
					display: block;
					width: 100%;
					height: 200px;
					background-repeat: no-repeat;
					background-position: 0;
					-webkit-background-size: 100% auto;
					-moz-background-size: 100% auto;
					-o-background-size: 100% auto;
					background-size: 100% auto;
				}
			}
			.logo {
				position: absolute;
				z-index: 2;
				top: 15px;
				left: 25px;
			}
		}
		.nav-container {
			.columns {
				padding-left: 0;
				padding-right: 0;
				nav {
					padding-left: 0;
					padding-right: 0;
					background: $orange;
					.top-bar-section {
						font-family: 'TeXGyreAdventorRegular', sans-serif;
						a:not(.button) {
							text-transform: uppercase;
							color: $black;
							background: darken($orange, 10%);
							font-size: 0.9rem;
							font-weight: 600;
							&:hover {
								color: $white;
								background: darken($orange, 15%);
							}
							&.active {
								color: $white;
							}
						}	
					}
					&.top-bar.expanded {
						.title-area {
							background: $orange;
						}
						.toggle-topbar {
							a {
								span::after {
									box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
								}
							}
						}
					}
				}
			}
		}
	}

	main {
		.container {
			.row {
				padding-left: 0.9375rem;
				padding-right: 0.937rem;
				background: $black;
			}
		}
	}

	footer {
		.container {
			color: $black;
			.testimonials-title {
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				background: $black;
				h6 {
					margin: 30px 0 15px 0;
					line-height: 45px;
					color: $orange;
					font-size: 1.4375rem;
				}
			}
			.testimonials {
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				background: darken($orange, 15%);
				blockquote {
					margin: 30px 0;
					color: $white;
					font-family: 'TeXGyreAdventorRegular', sans-serif;
					cite {
						margin-top: 15px;
						color: $black;
					}
					border-color: $black;
				}
			}
			.testimonials-small-print {
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				background: $black;
				p {
					margin: 15px 0;
					color: $white;
					font-size: 0.8125rem;
					.star {
						color: $orange;
					}
				}
			}
		}
	}
}

/*
|---------
| Small Up
|---------
*/

@media only screen and (min-width: 40.063em) {

	body {
		header{
			.nav-container {
				position: absolute;
				top: 230px;
				width: 100%;
				z-index: 1;
				.columns {
					nav {
						.top-bar-section {
							margin-right: 0.9375rem;
							a:not(.button) {
								background: $orange;
								&:hover {
									background: darken($orange, 10%);
								}
							}	
						}
					}	
				}
			}
			.banner-container {
				margin-bottom: 30px;
			}
		}
	}
}