/*
|---------
| Our work
|---------
*/

.our-work {
	.row {
		/*background: $black;*/
		.intro {
			h2 {
				margin-top: 30px;
				color: $orange;
			}
		}
		.image {
			margin: 0 0 60px 0;
			width: 100%;
			height: 0;
			padding-bottom: 80%;
			background: $image-color url(../images/our-work/our-work.jpg) no-repeat center center;
			background-size: cover;
		}
		h3 {
			color: $orange;
		}
		.videogular-container {
			outline: 0 !important;
			margin-bottom: 60px;
			&.audio {
				height: 50px;
				videogular {
					outline: 0 !important;
					vg-controls {
						background: $image-color;
					}
				}
			}
			&.video {
				videogular {
					outline: 0 !important;
					height: 0;
					padding-bottom: 56.25%;
					video {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					vg-overlay-play {
						.overlayPlayContainer {
							outline: 0;
						}
					}
					vg-poster {
						img {
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
						}
					}
					vg-controls {
						bottom: 0;
					}
					vg-buffering {
						.bufferingContainer {
							margin-top: -25px;
							.loadingSpinner {
								box-shadow: none;
								border-top-color:  $orange;
								border-left-color: $orange;
								border-right-color: $black;
								border-bottom-color: $black;
							}	
						}
					}
				}
			}
			button.iconButton {
			    margin-bottom: 0;
			    outline: 0 !important;
			}
		}	
	}
}

/*
|----------
| Medium Up
|----------
*/

@media only screen and (min-width: 64.063em) {

	.our-work {

		.row {

			.intro {
				margin-bottom: 60px;
			}

			.image {
				margin: 90px 0 60px 0;
			}
		}
	}
}